.Ourservices {
    padding: 100px 16px 145px 16px;
    overflow: hidden;
}

.Ourservices_p {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.cards {
    padding: 40px;
    max-width: 457px;
    background: #F6F4F2;
    border-radius: 30px;
    margin: 0 10px;
}

.cards_icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.users {
    width: max-content;
    padding: 7px 21px;
    border-radius: 15px;
    font-size: 20.4px;
    font-weight: 400;
    line-height: 34.8px;
    margin-top: 71px;
}

.cards p {
    max-width: 274px;
}

.cards_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (max-width: 768px) {
    .cards p {
        max-width: 123px;
        font-size: 12px;
        line-height: 16px;
    }

    .cards {
        padding: 16px;
        max-width: 284px;
    }

    .users {
        font-size: 16.4px;
        margin-top: 10px;
        padding: 0 10px;
        line-height: 24.8px;
    }

    .Ourservices h2,
    .Ourservices_p {
        text-align: left !important;
    }

    .Ourservices_p {
        margin-bottom: 34px;
    }

    .Ourservices {
        padding: 22px 16px 78px 16px;
    }

    .cards_icon {
        width: 35px;
        height: 35px;
        border-radius: 8px;
    }

    .cards img {
        height: 160px;
    }
}