/* font */
@font-face {
  font-family:  'General Sans';
  src: url('../assets//fonts/general_sans/GeneralSans-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family:  'General Sans';
  src: url('../assets/fonts/general_sans/GeneralSans-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family:  'General Sans';
  src: url('../assets//fonts/general_sans/GeneralSans-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/general_sans/GeneralSans-Semibold.otf');
  font-weight: 600;
}


@font-face {
  font-family: 'MD IO Trial';
  src: url('../assets/fonts/md_io_trial/ModecoTrial-Bold.otf');
  font-weight: 700;
}


@font-face {
  font-family: 'MD IO Trial';
  src: url('../assets/fonts/md_io_trial/ModecoTrial-Regular.otf');
  font-weight: 400;
}


/* font end */
* {
  margin: 0;
  padding: 0;

}
body{
  background-color: #EAE6DE !important;
  
}

.navbar-brand img{
  max-width: 187px;
  height: 102px;
}
.Containers_main {
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
}

.Containers_x {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.Home h1 {
  font-size: 84px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: -0.02em;
  font-family:  'General Sans';
}

.Home h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -0.02em;
  font-family:  'General Sans';
}


.Home h5{
font-size: 28px;
font-weight: 500;
line-height: 29px;
font-family: 'MD IO Trial';
}

.sub_heading{
font-size: 24px;
font-weight: 400;
line-height: 78px;
letter-spacing: -0.02em;
font-family: 'MD IO Trial';
}
.Home p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  font-family:  'General Sans';
}

.pink{
  background-color: #F2BDEB;
}
.cream{
  background-color: #F6F4F2;
}
.button_1{
  padding: 5px 5px 5px 30px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family:  'General Sans';
}

.orange{
  background-color: #FF5B00;
}
.btn_icon{
  border-radius: 20px;
  color: #281D18;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.dark_brown{
  background: #281D18;
}
.rounded_border {
  border-radius: 100px !important;
}
@media only screen and (max-width: 991px) {
  .Home h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .sub_heading{
    font-size: 18px;
    line-height: 30px;
    }
    .Home p {
      font-size: 18px;
    }
    .button_1 {
      font-size: 18px;
    }
    .btn_icon{
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
}
@media only screen and (max-width:768px) {
  .sub_heading{
    font-size: 14px;
    line-height: 11px;
    }
     {
      font-size: 14px;
      l.Home h1 {
      font-size: 30px;
      line-height: 30px;
    }
    .Home pine-height: 18px;
    }
    .Home h5{
      font-size: 16px;
      font-weight: 500;
      line-height: 29px;
      }
      .Home h2 {
        font-size: 28px;
        line-height: 34px;
      }
      .slick-track {
        left: -37px !important;
       }
       .slick-slider{
overflow: hidden;
       }
       .rounded_border {
        border-radius: 64px !important;
      }
}